<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		.header {
			text-align: center;
			grid-template-columns: 10% 90%;
			background-color: #67b4ce;
			border-radius: 10px;
			margin-left: 25%;
			margin-right:25%; 
		}

		.header img {
			width: 4%;
		}

		.container h2 {
			margin-left: 8%;
		}

		.container h3 {
			color: blue;
			margin-left: 8%;
		}
		
		.products {
			margin-left: 8%;
			margin-right:8%;
			border-style: dotted;
			border-bottom: 6px solid red;
			background-color: lightgrey;
		}

		.footer {
			height: 20%;
			background-color: #67b4ce;
			border-radius: 10px;
			margin-left: 25%;
			margin-right:25%; 
		}

		.footer p {
			font-size: 125%;
			text-align: center;
		}
		
		p.thankYou{
			padding-top: 10px;
		}
	</style>

</head>

<body>

	<div class="header">
		<div>
				<!-- <img src="cid:myLogo.png" alt="logo" style="display: block;" /> -->
		</div>
		<div>
			<h1>Virtual Shop</h1>
		</div>
	</div>
	<div class="container">
		<h2>Hello, </h2><h2 th:text="${name}"></h2>
		<h2>We received your order and it is in process.</h2>
		<div class="products">
			<h2>Your order contains:</h2>
			<h4 th:text="${message}"></h4>
			<h3> We will deliver your order as soon as it possible.</h3>
		</div>
	</div>
	<div class="footer">
		<p class="thankYou">Thank your for your order.</p>
		<p style="margin-top:-2%;">Best regards, <br>VirtualShopping<p>
	</div>
</body>

</html>