<body *ngIf="products.length == 0">
  <div class="emptyCart">
    <h3>Your cart is empty..
      <br> Go back to add some products.</h3>
    <div class="button">
      <button routerLink="/products">Go back to products</button>
    </div>
  </div>
</body>
<br>
<body *ngIf="products != null" style=" background-color: rgb(255, 255, 255);">

<div *ngIf="errorMessages.length != 0" style="padding-top: 7px; padding-left: 10px">   
  <span *ngFor="let msg of errorMessages" style="color:#fc1722;font-weight: 10px; font-size: 15px;">{{msg}}  <br> </span>
</div>
  <div *ngIf="products.length != 0"class="aboutProducts">
      <p>About your cart <br>
      Final price: {{ finalPrice |  number : '1.2'}} lei</p>
    <input type="button" value="Send the order" (click)="openDialog(finalPrice)">
   
  </div>
  <div class="allProductsFromCart" *ngFor="let product of products" >
    <div class="product" >
      <div>
        <img src="../../assets/images/{{product.product.photo}}" alt="Lights" (click)="seeProduct(product.product.productId)">
      </div>
      
      <div class="productName">
        <h4>{{product.product.name}}</h4>
      </div>
      <div class="productQuantity">
        <h4>Quantity:
          <br>{{product.quantity}}</h4>
      </div>
      <div class="productPrice">
        <h4>Price/Item:
          <br> {{product.product.price}} Lei</h4>
          <input type="button" value="Delete this product from cart" (click)="deleteProductFromShoppingCart(product.product.productId)">
      </div>
    </div>
    
  </div>

</body>

