

<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
  <div class="login-header">
    <h1>Registration</h1>
    <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
  </div>
  <div class="login-form">
  <form>
    <input type="text" class="field" placeholder="First Name" name="firstName" #firstName ><br>
        <input type="text" class="field" placeholder="Last Name" name="lastName" #lastName ><br>
        <input type="text" class="field" placeholder="Phone Number:" name="phone" #phone ><br>       
        <input type="text" class="field" placeholder="Email" name="email" #email ><br>      
        <input type="password" class="field" placeholder="Password" name="pass" #pass><br />
        <span *ngIf = "errorMessage" style="color:#fc0000;" >{{errorMessage}} <br /> </span>      
        <input type = "button" class="btn" (click)="registration(firstName.value,lastName.value,phone.value,email.value,pass.value)" value="Register"> <br>
       <br> <a routerLink="/login" style="color:aliceblue">Click here for Log in!</a>
  </form>
  </div>