
<ul *ngIf="router.url != '/login' && router.url != '/registration'">
  <li style="margin-right: -42%; margin-left: 1%;">
  
  </li>
  <li>
    <a routerLink="/home"> Home</a>
  </li>
  <li>
    <a routerLink="/products">View Products</a>
  </li>
  <li>
    <a *ngIf="getTypeOfAccess() == 'admin'" (click)="openDialog()" style="cursor: pointer;">Add Product</a>
  </li>
  <li *ngIf="getTypeOfAccess() == 'admin'">
    <a routerLink="/users">Users</a>
  </li>
  <li style="float:right">
    <a routerLink="/logout">Logout</a>
  </li>
  <li style="float:right" >
    <a routerLink="/shoppingCart">My Shopping Cart</a>
  </li>
  <li style="float:right" >
    <a routerLink="/favouriteProducts">My Favourite Products</a>
  </li>
</ul>

<router-outlet></router-outlet>