<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
<body>
<img src="../../assets/images/cancel.png" (click) = "cancelButtonAction()" alt="Lights" style="width:6%;float: right;cursor: pointer;">
<div class="container"  style="padding-left: 2px;width: 400px;">
  <h2>Order details</h2><br>
  <form>
    <div class="form-group">
      <label>Order Date: {{ date | date:'d MMMM y'}} {{ date | date:'shortTime'}}</label><br>
      
      <label>Final Price: {{finalPrice.price | number : '1.2'}} RON </label> <br>
     
      <label>*Delivery Address:</label> <br>
      <input type="text" placeholder="Your delivery address.."class="form-control" id="name" style = "width: 400px;" #address>
      <br>
      <label>Payment Method:</label> &nbsp;
      <select name="selectPayment" (change)="onChange($event.target.value)">
          <option>CASH</option>
          <option>CARD</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary btn-md" (click) = "orderFinalize(address.value,finalPrice.price)">Finalize</button> <br> <br>
	  <span *ngIf = "errorMessage" style="color:#fc0000;font-weight: 20px" >{{errorMessage}} <br /> </span>
    *This field is required
  </form>
  
</div>
</body>