
  <!--for demo wrap-->
  <h1>All users</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
     <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Access Type</th>
    
  </tr>
  <tr  *ngFor="let user of users">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phoneNumber}}</td>
    <td>{{user.role.typeOfAccess}}</td>
    <input type = "button" class="btn" (click)="changeType(user.email)"value = "Change Access" >
  </tr>
</thead>
</table>
</div>