<body *ngIf="favouriteProducts == []">
  <div class="emptyCart">
    <h3>You have no favourite products
      <br> Go back to add some product.</h3>
    <div class="button">
      <button routerLink="/products">Go back to products</button>
    </div>
  </div>
</body>

<body *ngIf="favouriteProducts != null" style=" background-color: rgb(255, 255, 255);">
  <div class="allProductsFromCart" *ngFor="let favProd of favouriteProducts">
    <div class="product">
      <div>
        <img src="../../assets/images/{{favProd.product.photo}}" alt="Lights" (click)="seeProduct(favProd.product.productId)">
      </div>

      <div class="productName">
        <h4>{{favProd.product.name}}</h4>
      </div>
      <div class="productPrice">
        <h4>Price/Item:
          <br> {{favProd.product.price}} Lei</h4>
        <input type="button" value="Delete this product from favourites" (click)="deleteProductFromFavouriteProducts(favProd.product.productId)">
      </div>
    </div>

  </div>

</body>