@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{

    margin-left: 30px;
    margin-right: 30px;
}

.emptyCart {
    background:url('/assets/images/emptycart.png') no-repeat center ;
    background-size: 7%;
    padding-top: 70px;
    padding-bottom: -70px;
}

.emptyCart h3{
    text-align: center;
    color: #404144;
    padding-top: 120px;
    font-size: 110%;
}

.button {
    text-align: center;
    transition-duration: 0.4s;
}

.button button{
    background-color: #6b98c0;
    border: 1px;
    font-size: 90%;
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 0.5px solid rgb(0, 0, 0);
}

.button:hover button{
    opacity: 0.9;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cartTitle h1{
    color: rgb(96, 96, 99);
    font-weight: bold;
    margin-left: 5%; 
}

.allProductsFromCart {
    background: #ffffff;
    background-size: cover;
}

.product {
    background-color: rgba(255,255,255,0.3);
    border-bottom: 2px solid rgb(169, 172, 173);
    display: grid;
    grid-template-columns: 33% 33% 33%;
 
}

.product h2 {
    margin-left: 25px;
    margin-top: 50px;
}

.product img {
    padding-top: 15px; 
    padding-bottom: 15px; 
    margin-left: 15%;
    width:20%;
    cursor: pointer;

}
.productName {
    display: grid;
    font-size: 120%;
    margin-right: 20%;
    margin-left: -60%;
    margin-top: 5%;
}

.productPrice input{
    background-color: rgb(255, 0, 0);
    font-size: 90%;    
    border-radius: 10px;
    padding: 5px;
    margin-top: 0%;
    cursor: pointer;
    border: 0.5px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

.aboutProducts {
    text-align: center;
    background: #ffffff;
    float: right;
    bottom: 10%;
    margin: 7px;
    margin-right: 15px;
    padding: 0px;
    right: 10%;
    width: 20%;
    padding-left: -200px;
    height:20%;
}
