<img src="../../assets/images/cancel.png" (click) = "cancelButtonAction()" alt="Lights" style="width:6%;float: right;cursor: pointer;">
<div class="container"  style="padding-left: 2px;width: 400px;">
  <h2>Change details</h2><br>
  <form>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" id="name" style = "width: 400px;" #name placeholder = "{{product.prod.name}}">
    </div>
    <div class="form-group">
      <label>Price:</label>
      <input type="text" class="form-control" id="price" style = "width: 400px;" #price placeholder = "{{product.prod.price}}">
    </div>
    <div class="form-group">
      <label>Quantity:</label>
      <input type="text" class="form-control" id="price" style = "width: 400px;" #quantity placeholder = "{{product.prod.quantity}}">
    </div>
    <div class="form-group">
        <label>Category:</label> &nbsp;
        <select name="selectPayment" (change)="onChange($event.target.value)">
            <option *ngFor="let category of categories">{{category.categoryName}}</option>
        </select> &nbsp;<span style="font-style: italic">Current Category: {{product.prod.category.categoryName}}</span>
      </div> 
    <div class="form-group">
      <label>Photo:</label>
      <input type="text" class="form-control" id="photo" style = "width: 400px;" #photo placeholder = "{{product.prod.photo}}">
    </div>
    <button type="button" class="btn btn-primary btn-md" (click) = "updateButtonAction(product.prod,name.value,price.value,quantity.value,photo.value)">Update</button> <br> <br>
  </form>
</div>
