
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
   
  <body style="background-color: rgb(255, 255, 255)">  
    <div class="sidenav">
    <a *ngFor="let category of categories" (click)="getProductsByCategory(category.categoryId)" style="cursor: pointer;">{{category.categoryName}}</a>
    </div>
    <div class="container" style="margin-left: 200px">
      <h2>All products from VirtualShop</h2>
      <p *ngIf="getTypeOfAccess() == 'admin'">*Click on icons for remove or update a product</p> <br><br>
      <div class="row" style=" width: 1000px;">
        <div *ngFor = "let product of products" class="col-md-4"  >
          <div class="thumbnail" style="padding-bottom:20px;height: 350px;">
              <img *ngIf="getTypeOfAccess() == 'admin'" src="../../assets/images/remove-icon.png"  (click) = "deleteProduct(product.productId)" alt="Lights" style="width:10%;float: right;cursor: pointer;">
              <img *ngIf="getTypeOfAccess() == 'admin'" src="../../assets/images/update-icon.png" (click) = "openDialog(product)" alt="Lights" style="width:10%;float: left;cursor: pointer;">
              <p *ngIf="product.category.categoryName != 'Smartphones' && product.category.categoryName != 'Tablets' && product.photo != 'not-available.png' " style="margin-top: 40px"></p>
             
              <img src="../../assets/images/{{product.photo}}" alt="Lights" style="width:70%; z-index: -1; cursor: pointer; align-self: center;" (click)="setProductId(product.productId)">
              <div class="caption">
                <ul type="disc">
                  <li style="	font-family: 'Ubuntu', sans-serif;">{{product.name}}</li>
                  <li>Preț: {{product.price}} RON</li>
                  <img src="../../assets/images/view-details.jpg"  alt="Lights" style="width:40%;float: right;cursor: pointer;height: 38px;" (click)="setProductId(product.productId)">
                </ul>
              </div>
          </div>
          <br>
        </div>
      </div>
  </div>
  </body>
  
