table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid rgb(34, 85, 4);
}

input[type="button"] {
    height:20px;
	width:80px;
	background:#fff;
	border:1px solid #f2f2f2;
	border-radius:20px;
	color: slategrey;
	text-transform:uppercase;
	font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}
input {
    margin-left: 10px;
}
.list-group {
     
    margin:auto;
    float:left;
    padding-top:20px;
   }
   .lead {
    
    margin:auto;
    left:0;
    right:0;
    padding-top:10%;
   }
   
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    margin-top: 60px;

}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #30afb8;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

