<img src="../../assets/images/cancel.png" (click) = "cancelButtonAction()" alt="Lights" style="width:6%;float: right;cursor: pointer;">
<div class="container"  style="padding-left: 2px;width: 400px;">
  <h2> <span class="glyphicon glyphicon-user"></span> &nbsp; Admin Answer</h2><br>
  <form>
    <textarea  rows="5" cols="50" #aContent></textarea> <br><br>
    <button type="button" class="btn btn-primary btn-md" (click) = "addAnswer(aContent.value,question.q.questionId)">Add Answer</button> 
  </form>
</div>

