/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }

 
    .goog-logo-link {
        display:none !important;
     }
     .goog-te-gadget{
        color: transparent !important;
     }
     .goog-te-gadget .goog-te-combo{
        color: rgb(96, 182, 231) !important;
     }