
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <div class="login">
      <div class="login-header">
        <h1>Login</h1>
        <img src="../../assets/images/avatar.png" alt="Avatar" class="avatar">
      </div>
      <div class="login-form">
        <input type="text" class="first_field" placeholder="Email" name="email" #email ><br>
      <input type="password" class="field" placeholder="Password" name="pass" #pass><br />  
      <span *ngIf = "errorMessage" style="color:#fc0000;font-weight: 20px" >{{errorMessage}} <br /> </span>      
      <input type = "button" class="btn" (click)="loginValidation(email.value,pass.value)"value = "Login" > <br />  <br />    
      <a routerLink="/registration" style="color:rgb(251, 255, 255)">Click here for Sign Up!</a>
      </div>