<html lang="en-US">
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
        <div id="google_translate_element"></div>

        <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div class="container">
        <div class="nameOfProduct">
            <h1> {{product?.name}}</h1>
        </div>
        <div class="blockContainer">

            <div class="imgOfProduct">
                <img src="../../assets/images/{{product?.photo}}" alt="Lights">
                <span *ngIf="productAdded" style="color:#fc0000;font-weight: 20px">{{productAdded}}
                    <br /> </span>
            </div>
            <div class="priceOfProduct">
                <h2>{{product?.price}} Lei</h2>
                <input type="text" class="{{className}}" value="{{stockMessage}}" readonly>
                <img src="../../assets/images/addToCart.png" alt="Lights" style="margin-top: 50px;" *ngIf="product?.quantity != 0" (click)="addToCart(product)">
                <div class="select" *ngIf="product?.quantity != 0">
                    <select name="selectQuantity" (change)="onChange($event.target.value)">
                        <option *ngFor="let n of numbers">{{n}}</option>
                    </select>
                </div>
            </div>
            <div class="aboutFav">
                <div *ngIf="isFavourited == false" class="addToFavouriteProducts">
                    <button type="button" (click)="addToFavouriteProducts(product.productId)">Add to Favourite Products</button>
                </div>
                <div *ngIf="isFavourited == true" class="deleteFromFavouriteProducts">
                    <button type="button" (click)="deleteFromFavouriteProducts(product.productId)">Delete Favourite Products</button>
                </div>
            </div>
        </div>
        <div class="secondNavBar" style="padding: 50px">
            <ul>
                <li class="first">
                    <a (click)="internalRoute('productDetails','design')">Description</a>
                </li>
                <li>
                    <a>Specifications</a>
                </li>
                <li>
                    <a (click)="internalRoute('productDetails','review')">Reviews</a>
                </li>
                <li>
                    <a (click)="internalRoute('productDetails','qa')">Question&Answers</a>
                </li>
            </ul>
            <section id="design">
                <p class="name">Design</p>
                
                <div style="background-color: rgba(179, 240, 245, 0.137)" >
                        <hr/>
                Suprafata de sticla lichida este construita pentru a impresiona, folosind sistemul Optical Spectrum Hybrid Deposition. Depunand
                straturi succesive de minerale pretioase cu grad inalt de refractie pe partea posterioara a carcasei telefonului,
                am creat noi culori, incredibil de vii, care transforma lumina la fiecare miscare.
                <br>
                <br>
                <p>Subtire din orice unghi</p>
                <br> Aspectul curbat si fara imbinari vizibile al noului HTC U11 este obtinut prin incalzirea si indoirea sticlei
                sub presiune extrema. Este un proces dificil, dar rezultatul este o simetrie unica pe cele trei axe a unui
                telefon subtire, indiferent din ce unghi il privesti. Avand sticla 3D pe ambele fete, dispozitivul este nu
                doar frumos, ci si mai sigur si mai confortabil de tinut in mana.
                <br>
                <br>
                <p>O experienta pura de vizionare.</p>
                <br> Acest smartphone are un ecran de sticla 3D de 5,5 inch, construit pentru a pastra autenticitatea imaginii.
                Avand cel mai bun ecran al nostru si o reproducere autentica a culorilor, iti oferim o experienta full-frame
                de vizionare mai pura. Ecranul nostru evita imaginile taiate sau culorile distorsionate pe margini, capcane
                in care ar putea cadea un ecran curbat.
                </div>
            </section>

            <div id="review" class="review" >
                <p class="name">Reviews</p>
                <div style="background-color: rgba(245, 245, 220, 0.562)" >
                <hr/>
                <div class="row" *ngFor="let review of reviews" style="padding: 10px; display: inline;">
                        <img src="../../assets/images/avatar.png" class="img-circle" alt="Cinque Terre" width="70px" height="70px" style="padding-right:8px">
                        <div class="thumbnail" style="margin-right: 20px;height: auto;width: 950px;float: right;padding-top: 13px;margin-top: 11px">
                                <p>{{review.user.firstName}}:&nbsp;{{review.content}}</p>
                    </div>
                </div>
            </div>
            </div>

            <p class="name"> &#43; Add review</p>
            <textarea [(ngModel)]="defaultValue1" style="margin-left:100px " rows="5" cols="131" #reviewContent></textarea>
            <button (click)="addReview(reviewContent.value)" type="button" class="btn btn-primary btn-sm btn-block" style="width: 70px;height: 30px;padding: 2px;float: right;">Add</button>
            <div id="qa" class="review">
                <p class="name">Questions&Answers</p>
                <div style="background-color: rgba(197, 228, 243, 0.151)" > <hr/>

                <div class="row" *ngFor="let question of questions" style="padding: 10px; display: inline;">
                    <button (click)="viewAnswers(question.questionId)" type="button" class="btn btn-primary btn-sm btn-block" style=" display: inline-block;width: 80px;height: 30px;padding: 2px;margin-left: 920px;">View answers</button>
                    <img src="../../assets/images/avatar.png" class="img-circle" alt="Cinque Terre" width="70px" height="70px" style="padding-right:8px">
                    <div class="thumbnail" style="margin-right: 20px;height: auto;width: 950px;float: right;padding-top: 13px;margin-top: 11px">
                        <p>{{question.user.firstName}}:&nbsp;{{question.questionContent}}</p>   
                            <div *ngFor="let a of answers" >
                            <p *ngIf="question.questionId == a.question.questionId" style="font-style: italic">Admin: {{a.answerContent}}</p>
                            </div>    
                            <p *ngIf="currentQuestionId == question.questionId" style="font-style: italic">{{noAnswers}}</p>              
                    </div>
                    <button *ngIf="getTypeOfAccess() == 'admin'" (click)="addAnswer(question)" type="button" class="btn btn-primary btn-sm btn-block" style=" display: inline-block;width: 80px;height: 30px;padding: 2px;margin-left: 920px;">Reply</button>
                </div>
                </div>
            </div>
            <p class="name"> &#43; Add question</p>
            <textarea [(ngModel)]="defaultValue2" style="margin-left:100px " rows="5" cols="131" #qContent></textarea>
            <button (click)="addQuestion(qContent.value)" type="button" class="btn btn-primary btn-sm btn-block" style="width: 70px;height: 30px;padding: 2px;float: right;">Add</button>
        </div>
    </div>
</body>
</html>