@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.nameOfProduct h1 {
    margin-left: 50px;  
}

.imgOfProduct img{
    width:50%;
    margin:30px;
}

.priceOfProduct h2 {
    margin-left: 50%;
    margin-top: 10%;
}

.priceOfProduct h2, h3 {
    color:#FF0000;
}

.blockContainer {
    display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: minmax(250px,auto);
}

.inStock {
    background: #009900;
    width: 60px;
    color: white;
    text-align: center;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-radius: 5px;
    margin-left:65%;
}

.onlyFew {
    background: #FFA500;
    width: 180px;
    color: white;
    text-align: center;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-radius: 5px;
    margin-left:50%;
}

.outOfStock {
    background: #FF0000;
    width: 85px;
    color: white;
    text-align: center;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-radius: 5px;
    margin-left:60%;
}

.priceOfProduct img {
    width:30%;
    float: right;
    cursor: pointer;
    margin-top: 4%;
    margin-right: 25%;
}

.secondNavBar ul {
    list-style-type: none;
    margin-left: -10%;
    margin-right: -9%;
    padding: 0;
    overflow: hidden;
    background-color: #65b3cf;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.secondNavBar li {
    float: left;
    cursor: pointer;
}

.first {
    margin-left: 7%; 
}

.secondNavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.secondNavBar li a:hover {
    opacity: 0.4;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #67b4ce;
    background-image: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: block;
    width: 70px;
    height: 3em;
    line-height: 3;
    background: #67b4ce;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 63%;
  }
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #acc9db;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  .select::after {
    -webkit-transition: .25s all ease;
    transition: .25s all ease;
  }
  .review {
      padding-top: 30px;
    
  }
  .name {
    font-size: 15px;
    color: #30afb8;
    display: block;
    font-family: 'Ubuntu', sans-serif;
  }

  .addToFavouriteProducts {
      float: right;
      margin-top: 10%;
      margin-right: -30%;
  }

  .addToFavouriteProducts button {
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 90%; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid rgba(151, 199, 214, 0.349);
  }

  .addToFavouriteProducts button:hover {
    background-color: rgb(151, 199, 214);
    color: white;
  }

  .deleteFromFavouriteProducts {
    float: right;
    margin-top: 10%;
    margin-right: -30%;
}

.deleteFromFavouriteProducts button {
  color: white;
  font-size: 90%;
  padding: 10px 10px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.deleteFromFavouriteProducts button:hover {
  background-color: #f44336;
  color: white;
}

.aboutFav {
    position: absolute;
    top: 53%;
    left:65%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}