
h1{
    font-size: 20px;
     color: rgb(96, 96, 99);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
   
    
  }
  table{
    width:80%;
    margin-left: 170px;
  
    
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(253, 251, 251, 0.986);
  }
  th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: rgb(96, 96, 99);
    text-transform: uppercase;
    border-bottom: solid 1px rgba(253, 251, 251, 0.986);
}
    
  
  td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 600;
    font-size: 15px;
    color: rgb(96, 96, 99);
    border-bottom: solid 1px rgba(253, 251, 251, 0.986);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
  }
  .btn {
    height:30px;
	width:170px;
	background:#fff;
	border:1px solid #f2f2f2;
	border-radius:20px;
	color: slategrey;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	cursor:pointer;
  }
  