<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<img src="../../assets/images/cancel.png" (click) = "cancelButtonAction()" alt="Lights" style="width:6%;float: right;cursor: pointer;">
<div class="container"  style="padding-left: 2px;width: 400px;">
  <h2>Add product</h2><br>
  <form>
    <div class="form-group">
      <label>Name:*</label>
      <input type="text" class="form-control" id="name" style = "width: 400px;" #name>
    </div>
    <div class="form-group">
      <label>Price:*</label>
      <input type="number" min="0.1" step="0.01" class="form-control" id="price" style = "width: 400px;" #price>
    </div>
    <div class="form-group">
      <label>Quantity:*</label>
      <input type="number" min="0" class="form-control" id="quantity" style = "width: 400px;" #quantity>
    </div>
    <div class="form-group">
        <label>Category:</label> &nbsp;
        <select name="selectPayment" (change)="onChange($event.target.value)">
            <option *ngFor="let category of categories">{{category.categoryName}}</option>
        </select>
      </div>
    <div class="form-group">
      <label>Photo(Name of the photo + extension):</label>
      <input type="text" class="form-control" id="photo" style = "width: 400px;" #photo>
    </div>
    <span>*This field is required</span><br>
    <span *ngIf = "errorMessage" style="color:#fc0000;font-weight: 20px" >{{errorMessage}} <br /> </span>
    <button type="button" class="btn btn-success btn-md" (click) = "insertButtonAction(name.value,price.value,quantity.value,photo.value)">Insert</button> <br> <br>
  </form>
</div>
